:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
     box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Button style*/
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius:2px;
    font-size: 1.5rem;
    padding: 0 12px;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.09);
}

.btn--size-s {
    padding: 0 8px;

    height: 32px;
    font-size: 12px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.select-input {
    position: relative;
    min-width: 200px;
    height:34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131,131,131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    display:none;
    padding: 0;

}

.select-input:hover .select-input__list  {
    display: block;
}

.select-input__item {
    

}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 16px;
    
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}